@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: #CCC;
  text-decoration: none !important;
}
a:hover {
	color: #F99;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

img {
  width: 100%;
  overflow: hidden;
}

/* Global */

html,
body {
  background: #1f2122;
  font-family: 'Poppins', sans-serif;
}

body .page-content {
  background-color: #27292a;
  padding: 60px;
  border-radius: 23px;
  margin-top: -70px;
  position: relative;
  z-index: 10; 
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

::selection {
  background: #db3636;
  color: #fff;
}

::-moz-selection {
  background: #db3636;
  color: #fff;
}

.main-button a {
  font-size: 27px;
  color: #fff;
  background-color: #db3636;
  padding: 12px 30px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 40px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: #fff;
  color: #db3636;
}

.main-border-button a {
  font-size: 14px;
  color: #db3636;
  background-color: transparent;
  border: 1px solid #db3636;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-border-button a:hover {
  border-color: #fff;
  background-color: #fff;
  color: #db3636;
}

.border-no-active a {
  border-color: #666;
  color: #666;
}

.border-no-active a:hover{
  border-color: #666;
  color: #666;
  background-color: transparent;
}

section {
  margin-top: 120px;
}

.heading-section h4 {
  color: #db3636;
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 30px;
}

.heading-section h4 em {
  color: #fff;
  font-style: normal;
  text-decoration: underline;
}

/* Pre-loader */

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #db3636;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #db3636;
  border-radius: 50%;
}

/* Header */

.background-header {
  background-color: #fff !important;
  height: 70px!important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  display: none;
}

.header-area {
  background-color: transparent;
  position: absolute;
  height: 70px;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
  display: flex;
  padding: 15px 0px;
  border-radius: 50px;
}

.background-header .main-nav {
  padding: 0px;
  background-color: transparent;
}

.header-area .main-nav .logo {
  margin-top: 20px;
  flex-basis: 25%;
  margin-right: 5%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  width: 191px;
}

.background-header .main-nav .logo {
  margin-top: 10px;
}

.background-header .main-nav .logo img {
  width: 180px;
}

.header-area .main-nav .nav {
  display: inline-flex;
  flex-basis: 70%;
  justify-content: flex-end;
  vertical-align: middle;
  text-align: right;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 40%;
  padding: 5px;
  background-color: #1f2122;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #666;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: transparent;
  padding: 13px 10px;
  border-radius: 18px;
  letter-spacing: .3px;
}

.header-area .main-nav .nav li:last-child a {
  background-color: #343636;
  padding: 8px 10px 8px 20px;
  border-radius: 23px;
}

.header-area .main-nav .nav li:last-child a img {
  max-width: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover,
.background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
  padding-left: 25px !important;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #db3636 !important;
}

.header-area .main-nav .nav li:last-child:hover a,
.header-area .main-nav .nav li:last-child a.active {
  color: #fff !important;
  background-color: #db3636 !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #fff;
  opacity: 1;
}

.header-area .main-nav .nav li.has-sub {
  position: relative;
  padding-right: 15px;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 17px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #db3636;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #db3636;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #db3636;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #db3636;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #db3636;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #db3636;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #db3636;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #db3636;
}

.header-area.header-sticky {
  min-height: 70px;
}

.header-area.header-sticky .nav li a.active {
  color: #fff;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area {
    top: 0;
  }
  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 15px;
  }
  .background-header .main-nav .logo {
    top: 0px;
  }
  .background-header .main-nav .border-button {
    top: 0px !important;
  }
  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #db3636!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area.header-sticky .nav {
    margin-top: 65px !important;
    text-align: center;
  }
  .background-header.header-sticky .nav {
    margin-top: 70px !important;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #1e1e1e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #fff !important;
    color: #db3636!important;
  }
  .header-area .main-nav .nav li:last-child a img {
    display: none;
  }
  .header-area .main-nav .nav li:last-child a:hover {
    color: #db3636 !important;
    background-color: transparent !important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

/* Banner */

.main-banner {
  background-image: url(../images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 800px;
  padding: 80px 60px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-banner h6 {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.main-banner h4 {
  font-size: 55px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-banner h4 em {
  font-style: normal;
  color: #db3636;
}

.main-banner .header-text {
  margin-top: 250px;
  margin-left: 270px;
}

.video-background {
  position: absolute;
  top: 1100px;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.video-background video {
  width: 100%;
  height: 460px;
  object-fit: cover;
}

/* Services */

.services {
  padding: 30px;
  margin-top: 60px;
  background-color: #1f2122;
  border-radius: 23px;
}

.services .item {
  background-color: #27292a;
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
}

.services .item .item {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}

.services .item img {
  border-radius: 23px;
}

.services .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.services .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.services .item ul {
  float: right;
  margin-top: 20px;
}

.services .item ul li {
  text-align: right;
  color: #fff;
  font-size: 14px;
}

.services .item ul li:first-child i {
  color: yellow;
}

.services .item ul li:last-child i {
  color: #db3636;
}

.services .main-button {
  text-align: center;
  margin-bottom: -53px;
}

/* Workstations */

.workstations {
  padding: 30px;
  background-color: #1f2122;
  border-radius: 23px;
}

.workstations .item {
  border-bottom: 1px solid #27292a;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.workstations .last-item {
  margin-bottom: 30px;
}

.profile-library .last-item {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.workstations .item ul li {
  margin-top: 15px;
}

.workstations .item ul li img {
  margin-top: -30px;
}

.workstations .item ul li {
  display: inline-block;
  width: 17%;
}

.workstations .item ul li:first-child {
  width: 110px;
}

.workstations .item ul li:last-child {
  width: 15%;
  text-align: right;
}

.workstations .item ul li h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

.workstations .item ul li span {
  color: #666;
  font-size: 14px;
}

.workstations .main-button {
  text-align: center;
  margin-bottom: -53px;
}
/* reserve */

.reservation-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  border-radius: 14px;
  background-color: #1f2122;
  padding: 30px;
}


.tier-selection {

  display: flex;
  color:  white;
}

.tier-selection > label {
  color: white;
  text-align: left;
  justify-content: center;
  margin-top: 10px;
  width: 30%;
}

.tier-select {

  width: 100%;
  padding: 8px;

  border-radius: 14px;
  background-color: #db3636;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: none;
}


.tier-select::-ms-expand {
  display: none;
}

.tier-select {
  outline: none;

}

.seats-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.seats-container button:hover {
  background-color: #c32f2f;
  color: white;
}

.seat-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat {
  margin: 5px;
  width: 75px;
  height: 40px;
  border-radius: 10px;
  background-color: gray;
  border: none;
  cursor: pointer;
  display: inline;
  text-align: center;

}

.seat.unavailable {
  background-color: red;
}

.seat.selected {
  background-color: white;
  color: #333; /* Change text color for better contrast */
  border: 2px solid #db3636;
}

.reservation-form {
  margin-top: 20px;
}

.reservation-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 14px;
  border: none;
  background-color: #db3636;
  color: white;
  outline: none;
}

.reservation-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  margin-top: 20px;
  border-radius: 14px;
  border: none;
  background-color: #db3636;
  color: white;
  outline: none;
}

.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 100;
}

/* Search */

.search-page{
  background-color: #1f2122;
  border-radius: 23px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;

}

.search-container {
  margin-top: 10%;
  display: flex;
  color:  white;
}

.search-container > label {
  color: white;
  margin-bottom: 10px;
  text-align: left;
  justify-content: center;
  margin-top: 10px;
  width: 30%;
}

#searchOptions {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px; 
  border-radius: 14px;
  background-color: #db3636;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: none;
}


.search-form {
  display: none; 
  width: 100%;
  border-radius: 8px;
}


.search-form label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

/* Style for form inputs */
.search-form input[type="text"],
.search-form input[type="time"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px; 
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

/* Style for form buttons */
.search-form button {
  padding: 10px 15px;
  background-color: #db3636; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.search-form button:hover {
  background-color: #c32f2f; 
}


/* Container holding the sidebar and the service content */
.services-container {
  display: flex;
  min-height: 100vh; /* Full height of the viewport */
}

/* Sidebar styles */
.services-sidebar {
  flex: 0 0 200px; /* Sidebar width */
  background-color: #333; /* Sidebar background color */
  color: #fff; /* Sidebar text color */
  padding: 20px; /* Sidebar padding */
}

.services-sidebar button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #555; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
}

.services-sidebar button:hover {
  background-color: #777; /* Button hover background color */
}

/* Service content styles */
.service-content {
  flex: 1; /* Take up the remaining width */
  padding: 20px; /* Content padding */
  background-color: #f0f0f0; /* Content background color */
}

/* Adjustments for heading within service-content for clarity */
.service-content h2 {
  margin-top: 0;
}




/* About */
.about {
  background-image: url(../images/about.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 500px;
  padding-top: 80px;
  background-attachment: scroll;
  background-repeat: no-repeat;
  margin-top: 80px;
}

.about ul {
  margin-left: 30px;
}

.about li {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.about h4 {
  font-size: 55px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about h4 em {
  font-style: normal;
  color: #db3636;
}

.about .header-text {
  margin-left: 270px;
}

/* Contact */
.contact {
  background-color:#000000;
  min-height: 500px;
  padding-top: 80px;
  padding-bottom: 60px;
  color: #fff;
}

.contact .logo img {
  margin-top: 8%;
  width: 191px;
}

.contact .links h3 {
  text-align: left;
  font-size: 20px;
}

.contact h3 {
  margin-bottom: 10px;
}

.contact li {
  margin: 15px 0px;
}

.contact .payment-methods, .contact .social-media {
  list-style: none;
  padding: 0;
  display: flex;
}

.contact .payment-methods li, .contact .social-media li{
  margin-right: 20px;
}

.contact .payment-methodst li:last-child, .contact .social-media li:last-child{
  margin-right: 0;
}

.contact .payment-methods ul li a img, .contact .social-media img {
  width: 32px;
  height: auto;
}

.contact .divider-line {
  height: 2px; 
  background-color: rgb(89, 89, 89); 
  width: 100%; 
  margin: 40px 0px;
}

/* Footer */

footer p {
  text-align: center;
  padding: 30px 0px;
  color: #fff;
  font-weight: 300;
}

footer p a {
  color: #fff;
  transition: all .3s;
}

footer p a:hover {
  color: #db3636;
}

/* Profile */
.main-profile {
  border-radius: 23px;
  padding: 30px;
  background-color: #1f2122;
}

.main-profile .main-info span {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.main-profile .main-info h4 {
  margin-bottom: 20px;
}

.main-profile .main-info .main-border-button {
  margin-top: 25px;
}

.main-profile ul {
  border-radius: 23px;
  padding: 30px;
  background-color: #27292a;
}

.main-profile ul li {
  width: 100%;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #666;
}

.main-profile ul li span {
  float: right;
  font-weight: 500;
  color: #ec6090;
}

.main-profile ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.clips {
  margin-top: 30px;
  border-top: 2px solid #27292a;
}

.clips .heading-section {
  margin-top: 30px;
}

.clips .item  {
  border-radius: 23px;
  padding: 30px 15px;
  background-color: #27292a;
  margin-bottom: 30px;
}

.clips .item .thumb {
  position: relative;
  margin-bottom: 15px;
}

.clips .item .thumb a {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-23px, -23px);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    color: #ec6090;
}

.clips .item h4 {
  font-size: 15px;
  display: inline-block;
}

.clips .item span i {
  color: #ec6090;
}

.clips .item span {
  float: right;
  color: #fff;
  font-size: 14px;
}

.clips .main-button {
  margin-top: 10px;
  text-align: center;
}
